<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【管理员】 -->
<mapper namespace="com.wisewin.circle.dao.AdminDAO">

    <!--根据手机号查找管理员信息-->
    <select id="queryAdminInfoByMobile" parameterType="String" resultType="com.wisewin.circle.entity.bo.AdminBO">
        SELECT *
        FROM ce_admin WHERE phone_number = #{mobile}
    </select>
    <!--添加管理员信息(管理員注冊)-->
    <insert id="adminRegister" parameterType="com.wisewin.circle.entity.bo.AdminBO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO ce_admin  SET NAME = #{name},
        phone_number = #{phoneNumber},
        gender = #{gender},
        PASSWORD=#{password},
        create_time=#{createTime},
        STATUS=#{status},
        admin=#{admin}
    </insert>
    <!-- 查找手机号是否注册过  -->
    <select id="selectCountByMobile" parameterType="String" resultType="int">
        SELECT count(id) FROM ce_admin WHERE phone_number = #{mobile}
    </select>
</mapper>