<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.circle.dao.CarPictureDAO">

    <insert id="addCarPicture" >
        insert into car_pic (cer_id,car_pic) values (#{cerId},#{carPic})
    </insert>

    <select id="getCarCertificationBO" parameterType="java.lang.Long" resultType="com.wisewin.circle.entity.bo.CarCertificationBO">
        select * from ci_car_certification where user_id=#{userId}
    </select>

    <select id="getCarPic" parameterType="java.lang.Long" resultType="java.lang.String">
        select car_pic from car_pic where cer_id=#{cerId}
    </select>

</mapper>