<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.circle.dao.InterestTypeDAO">

    <select id="selectciInterestType" resultType="com.wisewin.circle.entity.bo.InterestType">
        select  ci_interest.type_id as typeId, ci_interest.interest_name as interestName,
        ci_interest_type.type_name as  typeName
        from ci_interest, ci_interest_type
        where ci_interest.type_id = ci_interest_type.id
    </select>

    <select id="selectType" resultType="com.wisewin.circle.entity.bo.InterestTypeW">
        select * from ci_interest_type
    </select>

    <select id="selectciUserInterestCustom" resultType="com.wisewin.circle.entity.bo.InterestType">
        select ci_user_interest_custom.type_id as typeId,ci_user_interest_custom.custom_name as interestName,
        ci_interest_type.type_name as  typeName
        from ci_user_interest_custom, ci_interest_type
        where ci_user_interest_custom.type_id = ci_interest_type.id and
        ci_user_interest_custom.model_id = #{modelId}
    </select>

    <select id="getUserInterestCustom" resultType="com.wisewin.circle.entity.bo.UserInterestCustomBO">
        select *
        from ci_user_interest_custom
        where model_id = #{modelId}
    </select>

    <select id="selectciUserInterest" resultType="com.wisewin.circle.entity.bo.InterestType">
        select ci_user_interest.type_id as typeId, ci_user_interest.interest_name as interestName,
        ci_interest_type.type_name as  typeName
        from ci_user_interest, ci_interest_type
        where ci_user_interest.type_id = ci_interest_type.id
        and ci_user_interest.model_id = #{modelId}
    </select>

    <delete id="deleteUserInterest">
        DELETE from  ci_user_interest where model_id = ${modelId}
    </delete>

    <insert id="insetUserInterest" parameterType="java.util.List" useGeneratedKeys="false">
        insert into ci_user_interest
        (model_id, type_id, interest_name)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.modelId},
            #{item.typeId},
            #{item.interestName}
        </foreach>
    </insert>

</mapper>