<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 查询用户 -->
<mapper namespace="com.wisewin.circle.dao.MateDAO">

    <!--查询优质用户-->
    <select id="queryRobot" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT u.id FROM ci_user u LEFT JOIN ci_model m ON u.id = m.user_id
        WHERE
        m.model=#{model} AND m.sex=#{searchSex} AND (m.birthday >#{ageStart} AND m.birthday &lt;= #{ageEnd})
        AND  ST_DWithin(where_is ,'${place}',#{dist})
        <if test="auth=='yes' " >
            AND  u.certification_status=#{auth}
        </if>
        <if test="carAuth=='yes' " >
            AND  u.car_status=#{carAuth}
        </if>
        AND u.robot_status='yes'
        AND u.user_status='no'
        AND u.id!=#{userId}
        AND (m.record[${index}]!=#{userId} OR  record is null)
        ORDER BY  be_like_count DESC  limit #{num} offset   0
    </select>

    <!--查询用户搜索条件-->
    <select id="userCondition" resultType="com.wisewin.circle.entity.dto.ConditionDTO">
      SELECT u.where_is, m.model,m.search_distance,m.search_sex,m.search_age,m.sex_status,
        m.car_certification_status ,m.sex ,u.driver,u.latitude,u.longitude
        FROM ci_user u LEFT JOIN ci_model m ON m.user_id=u.id WHERE u.id=#{userId} AND m.model=#{model}
    </select>

    <!--查询喜欢的用户 -->
    <select id="queryLike"  resultType="java.lang.Long"  parameterType="java.util.Map">
      SELECT u.id FROM  ci_user u LEFT JOIN ci_model m  ON m.user_id=u.id  left join  ci_matching_date t  on
       t.user_id=u.id where
       t.for_user=#{userId} and m.model=#{model}  AND (m.record[${index}]!=#{userId} OR  record is null)
        and m.sex= #{searchSex}    limit #{num}  offset 0
    </select>



    <!--热度用户   /* AND u.localhost_time > #{activeTime}*/ -->
    <select id="heat"  parameterType="java.util.Map"  resultType="java.lang.Long">
        SELECT  u.id  FROM  ci_user u LEFT JOIN ci_model m  ON m.user_id=u.id
        <if test="model=='car'" >
            LEFT JOIN ci_car_incident c  ON c.user_id = u.id
        </if>
        WHERE
        m.model=#{model}
        <if test="searchSex!='不限'">
            AND m.sex=#{searchSex}
        </if>
         AND (m.birthday >#{ageStart} AND m.birthday &lt;= #{ageEnd})
        AND  earth_box(ll_to_earth(#{latitude},#{longitude}),#{dist}) @> ll_to_earth(u.latitude, u.longitude)
        <if test="auth=='yes' " >
            AND  u.certification_status=#{auth}
        </if>
        <if test="carAuth=='yes' " >
            AND  u.car_status=#{carAuth}
        </if>
        <if test="model=='car'" >
            <if test="driver=='yes'" >
                AND c.incident_status='yes'
                AND u.driver='no'
            </if>
            <if test="driver=='no'" >
                AND u.driver='yes'
            </if>
        </if>
        AND u.robot_status='no'
        AND u.user_status='no'
        AND u.id!=#{userId}
        AND m.first='yes'
        AND (m.record[${index}]!=#{userId} OR  record is null)
        <if test="ids!=null" >
            <foreach collection="ids" item="id" open="AND u.id NOT  IN (" separator="," close=")" >
                #{id}
            </foreach>
        </if>
        ORDER BY  be_like_count  DESC  limit #{num}  offset 0
    </select>

    <!--距离近的用户  /* AND u.localhost_time > #{activeTime}*/ -->
    <select id="distance"  parameterType="java.util.Map"  resultType="java.lang.Long">
        SELECT  u.id  FROM  ci_user u LEFT JOIN ci_model m  ON m.user_id=u.id
        <if test="model=='car'" >
            LEFT JOIN ci_car_incident c  ON c.user_id = u.id
        </if>
        WHERE
        m.model=#{model}
        <if test="searchSex!='不限'">
            AND m.sex=#{searchSex}
        </if>
         AND (m.birthday >#{ageStart} AND m.birthday &lt;= #{ageEnd})
        AND   earth_box(ll_to_earth(#{latitude},#{longitude}),#{dist})  @> ll_to_earth(u.latitude, u.longitude)
        <if test="auth=='yes' " >
            AND  u.certification_status=#{auth}
        </if>
        <if test="carAuth=='yes' " >
            AND  u.car_status=#{carAuth}
        </if>
        <if test="model=='car'" >
            <if test="driver=='yes'" >
                AND c.incident_status='yes'
                AND u.driver='no'
            </if>
            <if test="driver=='no'" >
                AND u.driver='yes'
            </if>
        </if>
        AND u.robot_status='no'
        AND u.user_status='no'
        AND u.id!=#{userId}
        AND m.first='yes'

        AND (m.record[${index}]!=#{userId} OR  record is null)
        <if test="ids!=null" >
            <foreach collection="ids" item="id" open="AND u.id NOT  IN (" separator="," close=")" >
                #{id}
            </foreach>
        </if>
        ORDER BY   earth_distance(ll_to_earth(u.latitude, u.longitude), ll_to_earth(#{latitude},#{longitude}))    asc  limit #{num}  offset 0
    </select>





    <!--修改匹配过的人-->
    <update id="updateArise" parameterType="java.util.Map">
        UPDATE ci_model set record[${index}] = #{userId}  WHERE     model=#{model}
        <foreach collection="ids" item="id" open="AND user_id IN (" separator="," close=")" >
             #{id}
        </foreach>
    </update>

    <!--用户基础信息2.0-->

    <select id="getUserMsg2"  parameterType="java.util.Map" resultMap="getUserMsg2Map">
        SELECT  u.id,m.id AS modelId ,u.phone,
        u.certification_status,u.car_status ,m.describe ,m.sex ,m.name ,
        m.birthday,m.constellation,m.education,m.birthplace,u.latitude,u.longitude ,
        earth_distance(ll_to_earth(u.latitude, u.longitude), ll_to_earth(#{latitude},#{longitude}))  as  distance  ,i.origin,i.destination,i.incident_time,i.incident ,
        t.id,t.id AS tid,t.type_name,e.interest_name , p.picture_url
        FROM  ci_user u LEFT JOIN ci_car_incident c  ON c.user_id = u.id
        LEFT JOIN ci_model m  ON m.user_id=u.id  LEFT JOIN
        ci_user_interest e ON e.model_id =u.id  LEFT JOIN ci_interest_type t   ON e.type_id=t.id  LEFT JOIN
        ci_user_picture  p ON p.model_id =u.id  LEFT JOIN ci_car_incident i ON i.user_id=u.id
        WHERE m.model=#{model}  AND
        <foreach collection="ids" item="id" open="u.id IN (" separator="," close=")" >
            #{id}
        </foreach>
        <if test="driver=='yes' and model=='car' ">
            AND i.incident_status='yes'
        </if>

    </select>
    <resultMap id="getUserMsg2Map" type="com.wisewin.circle.entity.bo.UserMsgBO" >
        <id     column="id" property="id" ></id>
        <result column="phone" property="phone" ></result>
        <result column="modelId" property="modelId" ></result>
        <result column="certification_status" property="certificationStatus" ></result>
        <result column="car_status" property="carStatus" ></result>
        <result column="describe" property="describe" ></result>
        <result column="sex" property="sex" ></result>
        <result column="birthday" property="birthday" ></result>
        <result column="constellation" property="constellation" ></result>
        <result column="education" property="education" ></result>
        <result column="birthplace" property="birthplace" ></result>
        <result column="latitude" property="latitude" ></result>
        <result column="longitude" property="longitude" ></result>
        <result column="distance" property="distance" ></result>
        <result column="name" property="name" ></result>
        <association property="incident" javaType="com.wisewin.circle.entity.bo.IncidentMsgBO" >
            <result column="origin" property="origin" ></result>
            <result column="destination" property="destination" ></result>
            <result column="incident" property="incident" ></result>
            <result column="incident_time" property="incidentTime" ></result>
        </association>
        <collection property="picture" ofType="java.lang.String" >
            <constructor><arg column="picture_url"/></constructor>
        </collection>
        <collection property="interest" ofType="com.wisewin.circle.entity.bo.UserMSgInterest" >
            <id column="tid"  property="id" ></id>
            <result column="type_name"  property="name" ></result>
            <collection property="tag" ofType="java.lang.String" >
                <constructor><arg column="interest_name"/></constructor>
            </collection>
        </collection>

    </resultMap>

    <!--用户基础信息-->
    <select id="getUserMsg"  parameterType="java.util.Map" resultType="com.wisewin.circle.entity.bo.UserMsgBO">
	SELECT  u.id,m.id AS modelId ,
					u.certification_status,u.car_status ,m.describe ,m.sex ,m.name ,
					m.birthday,m.constellation,m.education,m.birthplace,u.latitude,u.longitude ,
					ST_DISTANCE(where_is, '${location}') as  distance
                        FROM  ci_user u LEFT JOIN ci_car_incident c  ON c.user_id = u.id
                         LEFT JOIN ci_model m  ON m.user_id=u.id
			 WHERE m.model=#{model}  AND
			 <foreach collection="ids" item="id" open="u.id IN (" separator="," close=")" >
                 #{id}
             </foreach>
    </select>

    <!--查询背景图-->
    <select id="queyrPicture"  parameterType="java.lang.Long" resultType="java.lang.String" >
        SELECT picture_url FROM ci_user_picture  WHERE  model_id = #{modelId}  AND  picture_status!='no'  ORDER BY sort ASC
    </select>

    <!--兴趣-->
    <select id="queryInterest"  parameterType="java.lang.Long"  resultMap="interestMap">
        SELECT t.id,t.type_name,u.interest_name FROM ci_interest_type t  LEFT JOIN  ci_user_interest u  ON u.type_id=t.id
         WHERE u.model_id=#{modelId}
    </select>
    <resultMap id="interestMap" type="com.wisewin.circle.entity.bo.UserMSgInterest" >
        <id property="id" column="id" ></id>
        <result property="name" column="type_name" ></result>
        <collection property="tag" ofType="java.lang.String" >
            <constructor><arg column="interest_name"/></constructor>
        </collection>
    </resultMap>

    <!--查询事件-->
    <select id="queryIncident" parameterType="java.lang.Long" resultType="com.wisewin.circle.entity.bo.IncidentMsgBO">
        SELECT  origin,destination,incident_time,incident  FROM ci_car_incident  WHERE user_id=#{userId} AND incident_status='yes'
    </select>

    <!--
    滑动次数
    超级喜欢次数

`alter table ci_user add where_is GEOGRAPHY;
UPDATE ci_user SET where_is = ST_POINT(latitude, longitude) where id = '84';
 select ST_DISTANCE(where_is, '0101000020E6100000350EFB990FF04340647F992252C54F40')
 from ci_user where id = '82';
CREATE INDEX where_is_gix ON ci_user USING gist(where_is);
WHERE ST_DWithin(
where_is ,'0101000020E61000005A63D009A1245D409BAE27BA2EE64340',13000
);`

      -->

</mapper>