<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.circle.dao.ModelDAO">

    <!--初始化用户数据-->
    <insert id="addDefault" parameterType="com.wisewin.circle.entity.bo.ModelBO">
      INSERT INTO ci_model("model","describe","sex","sex_count","birthday","constellation",
                  "height","weight","education","birthplace","search_distance","search_sex",
	              "search_age","sex_status","car_certification_status","be_like_count",
	              "be_super_like_count","super_like_count","super_like_count_time",
	"be_shielding_count","update_time","user_id","name")
      VALUES
                      (#{model},#{describe},#{sex},#{sexCount},#{birthday},#{constellation},
              #{height},#{weight},#{education},#{birthplace},#{searchDistance},#{searchSex},
              #{searchAge},#{sexStatus},#{carCertificationStatus},#{beLikeCount},
              #{beSuperLikeCount},#{superLikeCount},#{superLikeCountTime},
              #{beShieldingCount},#{updateTime},#{userId},#{name});
    </insert>
    <select id="selectModel" resultType="com.wisewin.circle.entity.bo.Model">
       select * from ci_model where model = #{model} and user_id = #{userId}
    </select>
    <!--修改筛选条件-->
    <update id="updateScreen">
         update ci_model
         <set>
             <if test="searchDistance != null and searchDistance != ''">
                 search_distance = #{searchDistance},
             </if>
             <if test="searchSex != null and searchSex != ''">
                 search_sex = #{searchSex},
             </if>
             <if test="searchAge != null and searchAge != ''">
                 search_age =  #{searchAge},
             </if>
             <if test="sexStatus != null and sexStatus != ''">
                 sex_status =  #{sexStatus},
             </if>
             <if test="carCertificationStatus != null and carCertificationStatus != ''">
                 car_certification_status = #{carCertificationStatus},
             </if>
             update_time = NOW()
         </set>
        where user_id=#{userId} and model=#{model}
    </update>

    <!--查询用户筛选条件-->
    <select id="selectScreen" resultType="com.wisewin.circle.entity.bo.ScreenParamBO">
        SELECT user_id,model,search_distance,search_sex,search_age,sex_status,car_certification_status
        FROM "ci_model"
        WHERE user_id=#{userId} AND model=#{model}
    </select>




    <update id="updateModel" parameterType="com.wisewin.circle.entity.dto.param.ModelParam">
        update ci_model
        <set>
            <if test="beLikeCount != null and beLikeCount != ''">
                be_like_count = #{beLikeCount},
            </if>
            <if test="beSuperLikeCount != null and beSuperLikeCount != ''">
                be_super_like_count = #{beSuperLikeCount},
            </if>
            <if test="sex != null and sex != ''">
               sex =  #{sex},
            </if>
            <if test="birthplace != null and birthplace != ''">
                birthplace =  #{birthplace},
            </if>
            <if test="education != null and education != ''">
                education = #{education},
            </if>
            <if test="weight != null and weight != ''">
                weight =  #{weight},
            </if>
            <if test="height != null and height != ''">
                height = #{height},
            </if>
            <if test="constellation != null and constellation != ''">
                constellation = #{constellation},
            </if>
            <if test="birthday != null and birthday != ''">
                birthday = #{birthday},
            </if>
            <if test="describe != null and describe != ''">
                describe =  #{describe},
            </if>
            <if test="name != null and name != ''">
                name =  #{name}
            </if>
        </set>
          where id = #{id}
    </update>

    <update id="updateLikeCount">
        update ci_model
        set  be_like_count = be_like_count + 1
        where id = #{modelId}
    </update>

    <update id="updateSuperLikeCount">
        update ci_model
        set  be_super_like_count = be_super_like_count + 1
        where id = #{modelId}
    </update>

    <update id="updateshieldingCount">
        update ci_model
        set  be_shielding_count = be_shielding_count + 1
        where id = #{modelId}
    </update>

    <update id="updateSuperLikeCount0">
      update ci_model
      set super_like_count = super_like_count + 1,
      super_like_count_time = now()
      where model = #{model}
      and user_id = #{userId}
    </update>

    <update id="updateSuperLikeCount1">
         update ci_model
      set super_like_count =  1,
      super_like_count_time = now()
      where model = #{model}
      and user_id = #{userId}
    </update>

  <!--  <update id="removeSuperLike">
      update ci_model
      set super_like_count = 0,
      super_like_count_time = now()
      where model = #{model}
      and user_id = #{userId}
    </update>-->

    <update id="updateslidecount">
         update ci_model
      set slide_count = slide_count + 1 ,
      slide_time = now()
      where model = #{model}
      and user_id = #{userId}
    </update>

    <update id="updateslidecount1">
         update ci_model
      set slide_count = 1 ,
      slide_time = now()
      where model = #{model}
      and user_id = #{userId}
    </update>

    <select id="selectModelCount"  resultType="com.wisewin.circle.entity.bo.ModelBO">
        select * from ci_model
        where model = #{model}
        and user_id = #{userId}
    </select>

    <update id="updateModelFirst" >
         update ci_model
         set `first` = #{status}
         where id = #{modelId}
    </update>




</mapper>