<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.circle.dao.NewbitHelpDAO">
    <resultMap id="newbit" type="com.wisewin.circle.entity.bo.NewbitHelpBO"  >

        <result column="master_title"  property="masterTitle"  />
        <result column="mastertitleId"  property="id"  />
        <result column="newbitpId"  property="pId"  />
        <collection property="list"   ofType="com.wisewin.circle.entity.bo.NewbitHelpBO" >

            <result column="title"  property="masterTitle"  />
            <result column="titleId"  property="id"  />
            <result column="mastertitleId"  property="pId"  />
        </collection>
    </resultMap>
    <!-- 查询新手帮助信息 -->
    <select id="selectNewbitHelp" resultMap="newbit" >
        SELECT  newbit.master_title , help.master_title title,
        help."id" titleId,help.p_id mastertitleId,newbit.p_id newbitpId
        FROM
        ce_newbit_help  newbit   INNER  JOIN
        ce_newbit_help  help    ON   newbit.id  = help.p_id
    </select>


    <!--查询新手帮助内容-->
    <select id="getNewbitHelpContent" parameterType="java.lang.Integer" resultType="com.wisewin.circle.entity.bo.NewbitHelpContentBO">
        SELECT content,help_id helpId FROM "ce_newbit_help_content" ct LEFT JOIN ce_newbit_help cp
        ON ct.help_id = cp."id" WHERE cp."id" =#{id}
    </select>
</mapper>