<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 关系 -->
<mapper namespace="com.wisewin.circle.dao.RelationDAO">

    <insert id="addRelation" parameterType="com.wisewin.circle.entity.bo.RelationBO">
        insert  into ce_relation
        (user_id_main, user_id, status, create_time, "type")
        values
        (#{userIdMain},#{userId},#{status},now(),#{type})
    </insert>

</mapper>