<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.circle.dao.StatisticalRecordsDAO">

    <insert id="addStatisticalRecords" parameterType="java.lang.Integer">
        insert into ci_user_active
		(count,create_time)
		VALUES
		(#{count},now())
    </insert>

    <update id="updStatisticalRecords" parameterType="java.lang.Integer">
        update ci_user_active set count=#{count}
        where to_char(create_time,'YYYY-MM-DD')=to_char(now(),'YYYY-MM-DD')
    </update>

    <select id="getStatisticalRecordsCount" resultType="java.lang.Integer">
       select count(*) from ci_user_active
        where to_char(create_time,'YYYY-MM-DD')=to_char(now(),'YYYY-MM-DD')
    </select>

</mapper>