<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 车库 -->
<mapper namespace="com.wisewin.circle.dao.TheGarageDAO">

    <!--用户车库认证-->
    <insert id="addTheGarage" parameterType="com.wisewin.circle.entity.bo.TheGarageBO">
        INSERT  INTO
          ce_the_garage(
            user_id,plate_number,
            bran_model,heading_code,
            certification_pictures,status,
            update_time,create_time
         )VALUES (
            #{userId},#{plateNumber},
            #{brandModel},#{headingCode},
            #{certificationPictures},#{status},
            now(),now()
          )
    </insert>

    <!--查询车库是否存在车牌-->
   <select id="findTheGarage" resultType="int">
        SELECT
          COUNT(id)
        FROM
          ce_the_garage
        WHERE
          plate_number=#{plateNumber}
   </select>

    <!--查询当前用户是否审核通过或者是否有数据-->
    <select id="queryTheGarage" resultType="int">
        SELECT
          count(id)
        FROM
          ce_the_garage
        WHERE
          user_id=#{userId}
        AND
          status="authenticated"
    </select>

    <!--通过用户id来换取到当前车库id-->
    <select id="findIdTheGarage"  resultType="com.wisewin.circle.entity.bo.TheGarageBO" >
        SELECT
            id
        FROM
          ce_the_garage
        WHERE
            user_id=#{userId}
    </select>
</mapper>