<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 车库管理 -->
<mapper namespace="com.wisewin.circle.dao.TheGarageImgDAO">

    <insert id="addTheGarageImg" parameterType="com.wisewin.circle.entity.bo.TheGarageImgBO">
        INSERT  INTO
              ce_the_garage_img(
               the_garage_id,img_url,
               sort,create_time,
               update_time
        )VALUES (
              #{theGarageId},#{imgUrl},
              #{sort},now().
              now()
        )
    </insert>

</mapper>