<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.circle.dao.UserCertificationDAO">

    <insert id="insertUserCertification" parameterType="com.wisewin.circle.entity.bo.UserCertification">
      insert into ci_user_certification
      (user_id, demo_id, user_picture, create_time,
      remark, status, admin_id, demo_picture)
      values
      (
      #{userId},
      #{demoId},
      #{userPicture},
      now(),
      #{remark},
      #{status},
      #{adminId},
      #{demoPicture}
      )
    </insert>


  <!--WY查询用户车辆认证信息-->
    <select id="queryCarStatusW"  parameterType="java.lang.Long"  resultType="com.wisewin.circle.entity.bo.CarCertificationBO" >
            SELECT * FROM "ci_car_certification"
            WHERE  user_id=#{userId}
    </select>

    <select id="queryUserCertification"  parameterType="java.lang.Long"  resultType="com.wisewin.circle.entity.bo.UserCertification" >
            SELECT * FROM "ci_user_certification"
            WHERE  user_id=#{userId}
    </select>
</mapper>