<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.circle.dao.UserPictureDAO">

    <select id="selectUserPicture" resultType="com.wisewin.circle.entity.bo.UserPicture">
        select * from ci_user_picture
        where model_id = #{modelId}
        order by sort asc
    </select>

    <delete id="deleteUserPicture">
    DELETE
    FROM
      ci_user_picture
    WHERE model_id = #{modelId} ;
    </delete>

    <insert id="insertUserPicture" parameterType="java.util.List" useGeneratedKeys="false">
        insert  into  ci_user_picture (
        model_id,picture_url, sort, picture_status, create_time, update_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.modelId},
            #{item.pictureUrl},
            #{item.sort},
            'yes',
            now(),
            now())
        </foreach>
    </insert>
</mapper>