<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.circle.dao.UserDAO">

    <!--通过phone查看库里有没有这个账号-->
    <select id="selectByPhone" resultType="com.wisewin.circle.entity.bo.UserBO">
        select  *  from  ci_user  WHERE phone=#{phoneNumber}
    </select>

    <select id="selectModelStatus"   resultType="java.lang.String">
       select first from ci_model where  model=#{model}  and  user_id=#{userId}
    </select>


    <!--新增用户-->
    <insert id="addUser" parameterType="com.wisewin.circle.entity.bo.UserBO">
     INSERT INTO "ci_user"( "phone", "password", "create_time", "latitude", "longitude", "certification_status", "car_status", "user_status", "robot_status")
                    VALUES (#{phone},#{password}, now(),#{latitude},#{longitude},
                              #{certificationStatus},#{carStatus}, #{userStatus}, #{robotStatus});
    </insert>
    <!--设置密码-->
    <update id="setUserPassword" parameterType="java.lang.String">
        update ci_user
        <set>
            <if test="password!=null and password!='' ">password=#{password}</if>
        </set>
        where phone = #{phone}
    </update>


    <update id="updateUser" parameterType="com.wisewin.circle.entity.bo.UserBO">
        update ce_user
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="password!=null and password!='' ">password=#{password},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="phoneNumber!=null and phoneNumber!=''">phone_number=#{phoneNumber},</if>
            <if test="email!=null and email!=''">email=#{email},</if>
            <if test="stature!=null">stature=#{stature},</if>
            <if test="birthday!=null">birthday=to_timestamp(#{birthday},'yyyy-MM-dd'),</if>
            <if test="constellation!=null and constellation!=''">constellation=#{constellation},</if>
            <if test="birthplace!=null and birthplace!=''">birthplace=#{birthplace},</if>
            <if test="schooling!=null and schooling!=''">schooling=#{schooling},</if>
            <if test="work!=null and work!=''">work=#{work},</if>
            <if test="school!=null and school!=''">school=#{school},</if>
            <if test="authenticationStatus!=null and authenticationStatus!=''">
                authentication_status=#{authenticationStatus},
            </if>

            <if test="schooling!=null and schooling!=''">schooling=#{schooling} ,</if>
            <if test="pattern!=null and pattern!=''">pattern=#{pattern} ,</if>
            <if test="updateCount!=null">update_count=#{updateCount} ,</if>
            <if test="longitude!=null and longitude!=''">longitude=#{longitude} ,</if>
            <if test="latitude!=null and latitude!=''">latitude=#{latitude} ,</if>
            <if test="accountStatus!=null and accountStatus!=''">account_status=#{accountStatus} ,</if>
            <if test="inquireAge!=null">inquire_age=#{inquireAge} ,</if>
            <if test="inquireSex!=null and inquireSex!=''">inquire_sex=#{inquireSex} ,</if>
            <if test="inquireAgeOver!=null">inquire_age_over=#{inquireAgeOver} ,</if>
        </set>
        where
        id=#{id}
    </update>
    <!--通过id查找用户信息-->
    <select id="selectAllById" resultType="com.wisewin.circle.entity.bo.UserBO">
        select * from ci_user  where id=#{id}
    </select>

    <!--后面的所有留待备用-->
    <update id="updatePassword" parameterType="com.wisewin.circle.entity.bo.UserBO">
        update lt_user
        <set>

            <if test="password!=null">
                password=#{password}
            </if>

        </set>
        where
        phone=#{phone}
    </update>

    <!--通过用户名查询用户信息-->
    <select id="selectUserByUsername" resultType="com.wisewin.circle.entity.bo.UserBO">
        select
        id,name,phone,password,birthday,gender
        from
        lt_user
        where
        name=#{name}
    </select>

    <!--修改正在学习的语言-->
    <update id="updateLanguage" parameterType="java.lang.Integer">
        UPDATE lt_user
        <set>
            studying_language_id=#{studyingLanguageId}
        </set>
        WHERE id=#{id}
    </update>

    <!--添加Date模式图片-->
    <insert id="addDatepattern" parameterType="com.wisewin.circle.entity.bo.BackgroundBO">
        INSERT  INTO
        ce_user_background(
        create_time,
        update_time,img_url,
        rank,pattern
        )VALUES(
        now(),
        now(),#{nameurl},
        #{rank},#{pattern}
        )
    </insert>

    <!--修改用户信息-->
    <update id="updateUserDate" parameterType="java.util.Map">
        UPDATE
        ce_user
        SET
        name=#{name},password=#{password},
        gender=#{gender},birthday=#{birthday}
        WHERE
        id=#{id}

    </update>

    <update id="updateFirst"  >
       UPDATE ci_model  SET  first = 'no' WHERE id = #{userId} and model=#{model};
    </update>

    <update id="updateLongitudeAndLatitude"  parameterType="java.util.Map" >
        UPDATE ci_user SET longitude=#{longitude} , latitude=#{latitude}  where id = #{userId}
    </update>

    <update id="updateLocation"  parameterType="java.util.Map" >
        UPDATE ci_user SET  where_is = ST_POINT(latitude, longitude)  where id = #{userId}
    </update>
</mapper>