<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.circle.dao.UserDAO" >

    <!--通过phone查看库里有没有这个账号-->
    <select id="selectByPhone" resultType="com.wisewin.circle.entity.bo.UserBO">
        select  *  from  ce_user   where   phone_number=#{phoneNumber}
    </select>

    <insert id="addUser"     parameterType="com.wisewin.circle.entity.bo.UserBO"   >
     INSERT INTO "ce_user"( "name", "password", "gender", "phone_number", "email",
                            "stature", "birthday", "constellation", "birthplace", "introduce",
                             "create_time", "work", "school", "authentication_status",
                             "schooling", "pattern", "update_count", "longitude", "latitude",
                              "account_status", "inquire_age", "inquire_sex", "inquire_age_over")
                    VALUES (#{name},#{password}, #{gender},#{phoneNumber},#{email},
                              #{stature},to_timestamp(#{birthday},'yyyy-MM-dd hh24:mi:ss'),#{constellation},#{birthplace},#{introduce},
                               NOW(),#{work}, #{school}, #{authenticationStatus},
                               #{schooling},#{pattern},#{updateCount},#{longitude},#{latitude},
                               #{accountStatus},#{inquireAge},#{inquireSex},#{inquireAgeOver});
    </insert>


    <update id="updateUser" parameterType="com.wisewin.circle.entity.bo.UserBO">
        update ce_user
        <set>
            <if test="name!=null and name!=''">"name"=#{name},</if>
            <if test="password!=null and password!='' ">   password=#{password},</if>
            <if test="gender!=null and gender!='' ">      gender=#{gender},update_count=update_count+1, </if>
            <if test="phoneNumber!=null and phoneNumber!=''">         phone_number=#{phoneNumber},</if>
            <if test="email!=null and email!=''">     email=#{email},</if>
            <if test="stature!=null">         stature=#{stature},</if>
            <if test="birthday!=null">  birthday=to_timestamp(#{birthday},'yyyy-MM-dd'),</if>
            <if test="constellation!=null and constellation!=''">  constellation=#{constellation},</if>
            <if test="birthplace!=null and birthplace!=''">  birthplace=#{birthplace},</if>
            <if test="schooling!=null and schooling!=''">  schooling=#{schooling},</if>
            <if test="work!=null and work!=''">  "work"=#{work},</if>
            <if test="school!=null and school!=''">  school=#{school},</if>
            <if test="longitude!=null and longitude!=''" > longitude=#{longitude} ,  </if>
            <if test="latitude!=null and latitude!=''" > latitude=#{latitude} ,  </if>
            <if test="pattern!=null and pattern!=''" > pattern=#{pattern} ,  </if>
        </set>
        where
        id=#{id}
    </update>

    <!--通过id 模式查找用户信息-->
    <select id="selectAllById" parameterType="java.lang.Integer" resultType="com.wisewin.circle.entity.bo.UserBO">
        select
        id,"name",gender,phone_number,email,stature,birthday,constellation,birthplace,
        create_time,"work",school,authentication_status,authentication_time,schooling,pattern,
        update_count,longitude,latitude,account_status
        from
        ce_user
        where
        id=#{id}
    </select>




    <!--查询用户修改信息次数-->
    <select id="selectUpdSexCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
         select
        update_count
        from
        ce_user
        where
        id=#{id}
    </select>
    <!--后面的所有留待备用-->
    <update id="updatePassword" parameterType="com.wisewin.circle.entity.bo.UserBO">
        update ce_user
        <set>

            <if test="password!=null">
                password=#{password}
            </if>

        </set>
        where
        phone=#{phone}
    </update>

    <!--通过用户名查询用户信息-->
    <select id="selectUserByUsername" resultType="com.wisewin.circle.entity.bo.UserBO">
        select
        id,name,phone,password,birthday,gender
        from
        lt_user
        where
        name=#{name}
    </select>

    <!--修改正在学习的语言-->
    <update id="updateLanguage" parameterType="java.lang.Integer">
        UPDATE lt_user
        <set>
                studying_language_id=#{studyingLanguageId}
        </set>
        WHERE id=#{id}
    </update>

    <!--添加Date模式图片-->
    <insert id="addDatepattern" parameterType="com.wisewin.circle.entity.bo.BackgroundBO">
        INSERT  INTO
        ce_user_background(
        create_time,
        update_time,nameurl,
        rank,pattern
        )VALUES(
        now(),
        now(),#{nameurl},
        #{rank},#{pattern}
        )
    </insert>

    <!--修改用户信息-->
    <update id="updateUserDate" parameterType="java.util.Map">
        UPDATE
        ce_user
        SET
        name=#{name},password=#{password},
        gender=#{gender},birthday=#{birthday}
        WHERE
        id=#{id}

    </update>

    <!--添加用户模式以用户的关系-->
    <insert id="addPattern"  parameterType="com.wisewin.circle.entity.bo.PatternBO"  useGeneratedKeys="true"  keyProperty="id"  >
       INSERT INTO "ce_user_pattern"( "user_id", "update_time", "type")
            VALUES ( #{userId}, NOW(),#{type});
    </insert>

    <!--查询数据的总条数-->
    <select id="countPattern" resultType="int">
      SELECT
        COUNT(id)
      FROM
         ce_user_pattern
        WHERE
          user_id=#{id}
        AND
          type='date'
    </select>


    <!--查询数据-->
    <select id="queryPattern" resultType="com.wisewin.circle.entity.bo.PatternBO">
        SELECT
          id,user_id,
          type
        FROM
          ce_user_pattern
        WHERE
          user_id=#{id}
        AND
          type='date'
    </select>

</mapper>